@using Auto_salon.ViewModels;
@{ 
    Layout = null;
}
@model UrediZaposlenikaVM

<div class="card card-5">
    <div class="card-heading">
        <h2 class="title">Uredjivajne zaposlenika</h2>
    </div>
    <div class="card-body">
        <form id="UrediZaposlenikaForma" role="form">

            <input asp-for="@Model.ZaposlenikId" type="hidden" />

            <div asp-validation-summary="All" class="text-danger error"></div>

            <div class="form-group">
                <label asp-for="@Model.Ime"></label>
                <input asp-for="@Model.Ime" class="form-control" type="text" />
                <span asp-validation-for="@Model.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Prezime"></label>
                <input asp-for="@Model.Prezime" class="form-control" type="text" />
                <span asp-validation-for="@Model.Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Telefon"></label>
                <input asp-for="@Model.Telefon" class="form-control">
                <span asp-validation-for="@Model.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Adresa"></label>
                <input asp-for="@Model.Adresa" class="form-control">
                <span asp-validation-for="@Model.Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.JMBG"></label>
                <input asp-for="@Model.JMBG" class="form-control">
                <span asp-validation-for="@Model.JMBG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DatumZaposlenja"></label>
                <input asp-for="@Model.DatumZaposlenja">
                <span asp-validation-for="@Model.DatumZaposlenja" class="text-danger"></span>
            </div>

            @Html.AntiForgeryToken()
            <button onclick="SnimiZaposlenika()" class="btn btn-primary" type="submit">Snimi</button>

        </form>

    </div>

</div>

